<div class="row" ng-controller="Footer">
  <div class="col-md-12 footer text-center text-muted small">
    <div class="alert alert-danger" ng-show="app.global_storage_quota && app.global_storage_quota * 0.8 < app.global_storage_current"
         translate="index.global_quota_warning"
         translate-values="{ current: app.global_storage_current / 1000000, percent: app.global_storage_current / app.global_storage_quota * 100, total: app.global_storage_quota / 1000000 }">
    </div>
    <ul class="list-inline">
      <li uib-dropdown class="dropdown">
        <a href uib-dropdown-toggle>
          <span ng-switch="currentLang">
            <span ng-switch-when="en">English</span>
            <span ng-switch-when="fr">Français</span>
            <span ng-switch-when="de">Deutsch</span>
            <span ng-switch-when="it">Italiano</span>
            <span ng-switch-when="es">Española</span>
            <span ng-switch-when="pt">Português</span>
            <span ng-switch-when="el">Ελληνικά</span>
            <span ng-switch-when="ru">Pусский</span>
            <span ng-switch-when="pl">Polski</span>
            <span ng-switch-when="zh_CN">简体中文</span>
            <span ng-switch-when="zh_TW">繁體中文</span>
            <span ng-switch-when="sq_AL">Shqip</span>
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href ng-click="changeLanguage('en')" ng-class="{ 'bg-info': currentLang == 'en' }">English</a></li>
          <li><a href ng-click="changeLanguage('fr')" ng-class="{ 'bg-info': currentLang == 'fr' }">Français</a></li>
          <li><a href ng-click="changeLanguage('de')" ng-class="{ 'bg-info': currentLang == 'de' }">Deutsch</a></li>
          <li><a href ng-click="changeLanguage('it')" ng-class="{ 'bg-info': currentLang == 'it' }">Italiano</a></li>
          <li><a href ng-click="changeLanguage('es')" ng-class="{ 'bg-info': currentLang == 'es' }">Española</a></li>
          <li><a href ng-click="changeLanguage('pt')" ng-class="{ 'bg-info': currentLang == 'pt' }">Português</a></li>
          <li><a href ng-click="changeLanguage('el')" ng-class="{ 'bg-info': currentLang == 'el' }">Ελληνικά</a></li>
          <li><a href ng-click="changeLanguage('ru')" ng-class="{ 'bg-info': currentLang == 'ru' }">Pусский</a></li>
          <li><a href ng-click="changeLanguage('pl')" ng-class="{ 'bg-info': currentLang == 'pl' }">Polski</a></li>              
          <li><a href ng-click="changeLanguage('zh_CN')" ng-class="{ 'bg-info': currentLang == 'zh_CN' }">简体中文</a></li>
          <li><a href ng-click="changeLanguage('zh_TW')" ng-class="{ 'bg-info': currentLang == 'zh_TW' }">繁體中文</a></li>
          <li><a href ng-click="changeLanguage('sq_AL')" ng-class="{ 'bg-info': currentLang == 'sq_AL' }">Shqip</a></li>
        </ul>
      </li>
      <li translate="document.default.footer_sismics"></li>
      <li><a href="apidoc/">{{ 'document.default.api_documentation' | translate }}</a></li>
      <li>v{{ app.current_version }}</li>
    </ul>
  </div>
</div> 