<onboarding-popover ng-if="onboardingEnabled" enabled="onboardingEnabled" steps="onboardingSteps"></onboarding-popover>

<nav class="navbar navbar-default" role="navigation" ng-controller="Navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"
            ng-init="isCollapsed = true"
            ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">{{ 'index.toggle_navigation' | translate }}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="#">
      <span ng-if="appName == 'Teedy'">
        <span style="color: #2aabd2;">teedy</span>
      </span>
      <span ng-if="appName != 'Teedy'" style="color: #888;">{{ appName }}</span>
    </a>
  </div>

  <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
    <ul class="nav navbar-nav" ng-show="!userInfo.anonymous">
      <li ui-sref-active="{ active: 'document.**' }">
        <a href="#/document"><span class="fas fa-book"></span> {{ 'index.nav_documents' | translate }}</a>
      </li>
      <li ui-sref-active="{ active: 'tag.**' }" id="navigation-tag">
        <a href="#/tag"><span class="fas fa-tags"></span> {{ 'index.nav_tags' | translate }}</a>
      </li>
      <li ui-sref-active="{ active: 'user.**', active2: 'group.**' }">
        <a href="#/user"><span class="fas fa-user"></span> {{ 'index.nav_users_groups' | translate }}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-show="!userInfo.anonymous">
      <li>
        <a href="{{ userInfo.username == 'guest' ? '#/user/guest' : '#/settings/account' }}"
           translate-attr="{ title: 'index.logged_as' }" translate-values="{ username: userInfo.username }">
          <span class="fas fa-user"></span>
          {{ userInfo.username }}
        </a>
      </li>
      <li ui-sref-active="{ active: 'settings.**' }" ng-show="userInfo.username != 'guest'">
        <a href="#/settings/account">
          <span class="fas fa-cog"></span> {{ 'index.nav_settings' | translate }}
        </a>
      </li>
      <li>
        <a href="#" ng-click="logout($event)">
          <span class="fas fa-power-off"></span> {{ 'index.logout' | translate }}
        </a>
      </li>
    </ul>
    
    <!-- 添加注册按钮到顶部导航栏右侧 -->
    <ul class="nav navbar-nav navbar-right" ng-show="userInfo.anonymous">
      <li>
        <a href="#/register" class="btn-register-nav">
          <span class="fas fa-user-plus"></span> 注册
        </a>
      </li>
    </ul>
  </div>
</nav> 